.line {
	display: inline-block;
	width: 90px;
	border-bottom: 2px solid;
}

	
.line--black {
	border-color: #222222;
}

.line--white {
	border-color: #fff;
}


.elegant-btn {
	display: inline-block;
	height: 60px;

	border: 2px solid;

	font-size: 24px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	padding: 15px 25px;

	color: #222222;

	transition: all .3s ease;
}

.elegant-btn:hover {
	background-color: #222222;
	color: #fff;
	border: 1px solid #222222;
}

.elegant-btn--more {
	min-width: 272px;
	margin-bottom: 80px;
}

.elegant-btn--white {
	width: 185px;
	color: #fff;
}

.elegant-btn--white:hover {
	background-color: #fff;
	color: #222222;
	border: 1px solid #fff;
}